* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;

  
}
#controles {
    position: fixed;
    bottom: 25px;
    left: 20px; /* lado esquerdo */
    display: grid;
    grid-template-columns: 45px 45px 45px;
    grid-template-rows: 45px 45px;
    gap: 8px;
    z-index: 999;
}

/* botões */
#controles button {
    width: 45px;
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
    color: white;
}

#btnFrente {
    grid-column: 2;
    grid-row: 1;
}

#btnEsquerda {
    grid-column: 1;
    grid-row: 2;
}

#btnTras {
    grid-column: 2;
    grid-row: 2;
}

#btnDireita {
    grid-column: 3;
    grid-row: 2;
}
}


a-scene {
    width: 100%;
    height: 100vh;
}
